@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
    min-height: 100vh;
}

header {
    background-color: #202f57;
    color: white;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}


div {
    padding-top: 120px;
    padding-bottom: 70px;
 }


div#amarelo {
    background-image: url(imagens/pikachu.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
    background-size: 600px 560px;
    background-color: #FFD622;
}

    
div#vermelho {
    background-image: url(imagens/charmander.png);
    height: 800px;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #F47932;
    background-size: cover;
}


div#azul {
    background-image: url(imagens/squirtle.png);
    height: 800px;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #96D4D0;
    background-size: 600px 600px;
}


div#verde {
    background-image: url(imagens/bulba.png);
    height: 800px;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #50d850;
    background-size: 600px 600px;
    
}


footer {
    background-color: #202f57;
    padding: 20px;
    color: #FFD622;
    text-align: center;
    font-size: 1.7em;
    font-weight: bolder;
}

