@charset 'UTF-8';

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
}

header {
    background-color: #202f57;
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

div {
    padding-top: 120px;
    padding-bottom: 70px;
}

div#amarelo {
    background-image: url(imagens/pikachu.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 500px;
    background-size: 28%;
}

.amarelo2 {

    background-color: #FFD622;
}

div#vermelho {
    background-image: url(imagens/charmander.png);
    height: 800px;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.vermelho2 {
    background-color: #F47932;
}

div#azul {
    background-image: url(imagens/squirtle.png);
    height: 800px;
    background-position: right center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.azul2 {
    background-color: #96D4D0;
}

div#verde {
    background-image: url(imagens/bulba.png);
    height: 800px;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.verde2 {
    background-color: #50d850;
}

footer {
    background-color: #202f57;
    padding: 20px;
    color: #FFD622;
    text-align: center;
    font-size: 1.7em;
    font-weight: bolder;
}